* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins, sans-serif;
}

body {
  background-color: #fdfcfc;

}

.sec_pading {
  padding: 2rem 5rem;
}

.sec_margin {
  margin: 4rem 6rem;
}

/* Nav.css */
.navbar ul {
  width: 100vw;
  display: flex;
  gap: 40px;
  align-items: center;
  background-color: #000000;
}

.navbar ul li {
  list-style-type: none;

}

.navbar ul li .act {
  color: #fff;
}

.navbar ul li a {
  text-decoration: none;
  color: #AAAAAA;
  font-size: 1.5rem
}

.navbar ul li a:hover {
  color: #fff;
}

.navbtn {
  background-color: #000000;
}

.navbtn ul {

  min-width: 90%;
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  background-color: #25292e;
}

.navbtn ul li {
  list-style-type: none;
  padding: 5px;
  margin-right: 20px;

}

.navbtn ul li .act {
  color: #fff;
}

.navbtn ul li a {
  text-decoration: none;
  color: #AAAAAA;
  font-size: 1rem
}

.navbtn ul li a:hover {
  color: #fff;
}

.navbtn {
  display: none;
  position: relative;

}

.navmob {
  position: absolute;
  top: 60px;
  border-radius: 10px;
  margin: 10px;
}

.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

/* print.css */
.print {
  margin: 2rem 6rem;
  display: flex;
  gap: 50px;
}

.h1 {
  margin-bottom: 2.5rem;
}

.h2 {
  margin-top: 3rem;
}

span {
  color: coral;
}

.print .writing h1 {
  font-size: 2rem;
  color: darkblue;
  margin: 15px 1px;
}

.print .writing p {
  font-size: 100%;

}

.print .writing button {
  margin: 1rem 2px 1.5rem;
  padding: 8px;
  background-color: #4c4c4c;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 5px;

}

.print .writing button:hover {
  transform: scale(1.09);
  transition-duration: .3s;
}

.imagee {
  padding: 0%;
}

.imagee img {
  border: 15px solid #AAAAAA;
  width: 600px;
  min-width: 300px;
  border-radius: 10px;
  margin-top: 0%;
}

/* offer.css */
.printo {
  margin: 6%;
  display: flex;
  gap: 50px;
}

.printo .writingo .all {
  margin: 12% auto;
}

.printo .writingo .all h6 {
  margin: 20px 1px;
}

.printo .writingo .all h1 {
  margin: 20px auto;
}

.printo .writingo .all button {
  border-color: #e9a23b;
  color: #e9a23b;
}

.printo .offero {
  width: 250px;
  margin: auto 25%;
}

.printo .offero ul li {
  list-style: none;
  padding: 10px;
  margin: 10px;
}

.imageeo img {
  margin: 4% 2%;
  width: 600px;
  min-width: 300px;
  border-radius: 10px;
}

@media(max-width:1300px) {
  .imageeo img {
    width: 500px;
    margin-top: 5%;
  }
}

@media(max-width:1100px) {
  .printo {
    gap: 20px;
  }

  .imageeo img {
    width: 450px;
    margin-top: 5%;
  }
}

@media(max-width:1000px) {
  .printo {
    flex-direction: column;

  }

  .printo .offero {
    width: 250px;
    margin: auto 10%;
  }



  .imageeo img {
    width: 90%;
    margin: auto 5%;
  }
}

/* End of offer.css */
/* Courses.css */
.print {
  margin: 2rem 6rem;
  display: flex;
  gap: 50px;
}

.h1 {
  margin-bottom: 2.5rem;
}

.h2 {
  margin-top: 3rem;
}

span {
  color: coral;
}

.print .writing h1 {
  font-size: 2rem;
  color: darkblue;
  margin: 15px 1px;
}

.print .writing p {
  font-size: 100%;

}

.print .writing button {
  margin: 1rem 2px 1.5rem;
  padding: 8px;
  background-color: #4c4c4c;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 5px;

}

.print .writing button:hover {
  transform: scale(1.09);
  transition-duration: .3s;
}

.imagec {
  padding: 0%;
}

.imagec img {

  width: 400px;
  min-width: 300px;
  border-radius: 10px;
  margin-top: 0%;
}

@media(max-width:1300px) {
  .imagec img {
    width: 500px;
  }

  .h1 {
    margin-bottom: 1.5rem;
  }

  .h2 {
    margin-top: 1.5rem;
  }

  .print .writing p {
    font-size: 80%;

  }
}

@media(max-width:1100px) {
  .print {
    gap: 20px;
  }


  .imagec img {
    width: 450px;

  }

  .print {
    margin: 4rem;
  }

  .h1 {
    margin-bottom: .3rem;
  }

  .h2 {
    margin-top: .3rem;
  }
}

@media(max-width:900px) {

  .imagec img {
    width: 90%;
    margin: auto 5%;
  }
}

@media(max-width:1000px) {
  .sec_pading {
    padding: 2rem 4rem;
  }

  .sec_margin {
    margin: 2rem 4rem;
  }

  .print {
    flex-direction: column;
  }

  .imagec img {
    width: 90%;
    margin: auto 5%;
  }
}

@media(max-width:600px) {
  .sec_pading {
    padding: 1.5rem 1.3rem;
  }

  .print {
    margin: 2rem;
  }

  .sec_margin {
    margin: 1.5rem 1.3rem;
  }

  .navbar {
    display: none;
  }

  .navbtn {
    display: flex;
    justify-content: end;
    align-items: start;
    padding: 10px;


  }
}

/* End of Courses.css */
/* Services.css */
.Services {
  padding: 2rem 4rem;
}

.Services h1 {
  text-align: center;
  font-size: 2rem;
}

.Services h5 {
  text-align: center;
  font-size: 1rem;
}

.three {
  display: flex;
  justify-content: space-evenly;
}

.three .fl {
  width: 30%;
  background-color: #fff;
  padding: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.three .fl h3 {
  text-align: center;
  margin: 10px auto;
}

.three .fl img {
  width: 100%;
}

@media(max-width:1000px) {
  .Services {
    padding: 2.5rem;
  }

  .three {
    flex-direction: column;
    gap: 50px;
  }

  .three .fl {
    width: 100%;
  }

  .Services h5 {
    text-align: center;
    font-size: 1rem;
  }
}

@media(max-width:600px) {
  .Services {
    padding: 1.5rem;
  }

  .Services h5 {
    font-size: 0.8rem;
  }
}

/* End of Services.css */
/* code.css */
.code {
  padding: 2rem 4rem;
}

.code .content {
  text-align: center;
  font-family: karala;
  margin: auto;
  margin-bottom: 2rem;
  font-size: 2.5rem;

}

.code h2 {
  text-align: center;
  font-family: karala;
  margin: auto;
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

.code .subject {
  font-size: 1rem;
  text-align: justify;
}

.img {
  width: 100%;
  margin: 2rem auto;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.img img {
  width: 40%;
}

@media(max-width:1000px) {
  .code {
    padding: 2rem;
  }

  .code .content {
    font-size: 2rem;

  }

  .code h2 {
    font-size: 1.2rem;
  }

  .code .subject {
    font-size: 13px;
  }
}

@media(max-width:600px) {
  .code .content {
    font-size: 1.7rem;

  }
}

/* End of code .css */

@media(max-width:1300px) {
  .imagee img {
    width: 500px;
  }

  .h1 {
    margin-bottom: 1.5rem;
  }

  .h2 {
    margin-top: 1.5rem;
  }

  .print .writing p {
    font-size: 80%;

  }
}

@media(max-width:1100px) {
  .print {
    gap: 20px;
  }


  .imagee img {
    width: 450px;

  }

  .print {
    margin: 4rem;
  }

  .h1 {
    margin-bottom: .3rem;
  }

  .h2 {
    margin-top: .3rem;
  }
}

@media(max-width:900px) {

  .imagee img {
    width: 90%;
    margin: auto 5%;
  }
}

@media(max-width:1000px) {
  .sec_pading {
    padding: 2rem 4rem;
  }

  .sec_margin {
    margin: 2rem 4rem;
  }

  .print {
    flex-direction: column;
  }

  .imagee img {
    width: 90%;
    margin: auto 5%;
  }
}

@media(max-width:600px) {
  .sec_pading {
    padding: 1.5rem 1.3rem;
  }

  .print {
    margin: 2rem;
  }

  .sec_margin {
    margin: 1.5rem 1.3rem;
  }

  .navbar {
    display: none;
  }

  .navbtn {
    display: flex;
    justify-content: end;
    align-items: start;
    padding: 10px;


  }
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}